body{
    background-color:#9a95a0;
}

.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
    margin-top: 20px;
}

input{
    border-radius: 21px;
    border: 2px solid #244624;
    font-size:34px;
    height: 65px;
    width: 350px;
    background-color: white;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #928c9a;
    width: 80px;
    height: 80px;
    margin: 6px;
}

.calculator{ 
    border: 2px solid #13695d;
    background-color: #ff99f7;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 53px;
    display: inline-block;
    padding: 30px;
}

h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
